<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NAvigationVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC2A6481E2F669A00D10607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC2A65C1E2F669B00D10607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC2A6671E2F669B00D10607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
